<section class="intro">
  <div class="container">
    {{ site.author.bio }} -- <a href="{{ '/about' | prepend: site.author.url }}">about us</a></p>
    <iframe src="https://calendar.google.com/calendar/embed?title=%E4%BB%8A%E5%BE%8C%E3%81%AE%E4%BA%88%E5%AE%9A&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=klis.tsukuba.ac.jp_rt3rdt213ld5r75mj0dtbn666c%40group.calendar.google.com&amp;color=%23113F47&amp;ctz=Asia%2FTokyo" style="border-width:0" width="750" height="300" frameborder="0" scrolling="no"></iframe>
  </div>
</section>
